[submodule "lvgl"]
	path = lvgl
	url = https://github.com/faruq-zhao/lvgl.git
	branch = master
[submodule "lv_drivers"]
	path = lv_drivers
	url = https://github.com/faruq-zhao/lv_drivers.git
	branch = master
